{{ form_start(form)}}

    {{form_row(form.reference)}}

    <h4>Expériences</h4>
    {{form_row(form.experience)}}

    <h4>Diplôme</h4>
    {{form_row(form.diplome)}}

    <button type="submit"  class="btn btn-primary w-100">Filter</button>

{{ form_end(form) }}